
/* OS/2 Warp 3.0 Resource Script File - Created by Universal Resource Editor */

#define INCL_WINSYS
#define INCL_WINBIDI
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "shbtn.h"

DLGTEMPLATE DLG_SHBTNSTYLES
BEGIN
    DIALOG "Shaded Button Styles", DLG_SHBTNSTYLES, 18, 57, 290, 151,
                FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS |
                WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    PRESPARAMS PP_USER, "10.System Proportional"
    BEGIN
        CONTROL "Text:",               -1, 10, 130, 20, 8, WC_STATIC, SS_TEXT |
                                            DT_RIGHT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Text",                EF_TEXT, 36, 131, 78, 8, WC_ENTRYFIELD,
                                            ES_MARGIN | WS_TABSTOP | WS_VISIBLE
                CTLDATA 8, 32, 0, 0
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Type:",               -1, 10, 115, 20, 8, WC_STATIC, SS_TEXT |
                                            DT_RIGHT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Type",                CX_TYPE, 35, 85, 80, 41, WC_COMBOBOX,
                                            CBS_DROPDOWNLIST | WS_TABSTOP |
                                            WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "ID:",                 -1, 10, 100, 20, 8, WC_STATIC, SS_TEXT |
                                            DT_RIGHT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "",                    IDB_ID, 35, 100, 125, 10, "ID.Box",
                                            WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL " Options ",           -1, 10, 40, 190, 55, WC_STATIC,
                                            SS_GROUPBOX | WS_GROUP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "SYSCOMMAND",          CB_SYSCOMMAND, 20, 75, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Help",                CB_HELP, 20, 65, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Bitmap",              CB_BITMAP, 20, 55, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_DISABLED |
                                            WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Icon",                CB_ICON, 20, 45, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Mini-icon",           CB_MINIICON, 115, 75, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Vertical",            CB_VERTICAL, 115, 65, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "No push",             CB_NOPUSH, 115, 55, 60, 8, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Styles",              -1, 10, 10, 190, 25, WC_STATIC,
                                            SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "Visible",             CB_VISIBLE, 20, 15, 35, 10, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
        CONTROL "Group",               CB_GROUP, 65, 15, 35, 10, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
        CONTROL "Disabled",            CB_DISABLED, 110, 15, 35, 10, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
        CONTROL "Tab stop",            CB_TABSTOP, 155, 15, 35, 10, "shButton",
                                            shBS_BT1 | WS_TABSTOP | WS_VISIBLE
        CONTROL "Left side:",          -1, 175, 130, 30, 8, WC_STATIC, SS_TEXT |
                                            DT_RIGHT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
        CONTROL "Lside",               CX_LSIDE, 210, 105, 65, 35, WC_COMBOBOX,
                                            CBS_DROPDOWNLIST | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Right side:",         -1, 170, 115, 35, 8, WC_STATIC, SS_TEXT |
                                            DT_RIGHT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
        CONTROL "Rside",               CX_RSIDE, 210, 90, 65, 35, WC_COMBOBOX,
                                            CBS_DROPDOWNLIST | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Font & colors",       PB_FONTCOLORS, 210, 55, 65, 10, "shButton",
                                            WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "OK",                  DID_OK, 210, 40, 65, 10, "shButton",
                                            WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "Cancel",              DID_CANCEL, 210, 25, 65, 10, "shButton",
                                            WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
        CONTROL "About",               PB_ABOUT, 210, 10, 65, 10, "shButton",
                                            WS_TABSTOP | WS_VISIBLE
                PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    END
END

DLGTEMPLATE DLG_ABOUT
BEGIN
    DIALOG "About", DLG_ABOUT, 74, 67, 160, 71, FS_NOBYTEALIGN | FS_DLGBORDER |
                WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, FCF_TITLEBAR |
                FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    PRESPARAMS PP_USER, "10.System Proportional"
    BEGIN
        CONTROL "Shaded Buttons - PMCX", -1, 5, 55, 150, 8, WC_STATIC, SS_TEXT |
                                            DT_CENTER | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
        CONTROL "Hubert Chan, 1998",   -1, 5, 25, 150, 8, WC_STATIC, SS_TEXT |
                                            DT_CENTER | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
        CONTROL "OK",                  DID_OK, 60, 5, 40, 10, "shButton",
                                            shBS_LEFTROUND | shBS_RIGHTROUND |
                                            WS_VISIBLE
        CONTROL "Version 1.15",        -1, 5, 45, 150, 8, WC_STATIC, SS_TEXT |
                                            DT_CENTER | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
    END
END

STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
    IDS_BS_BT0,                         "shBS_BT0"
    IDS_BS_BT1,                         "shBS_BT1"
    IDS_BS_BT2,                         "shBS_BT2"
    IDS_BS_ICON,                        "shBS_ICON"
    IDS_BS_MINIICON,                    "shBS_MINIICON"
    IDS_BS_HELP,                        "shBS_HELP"
    IDS_BS_SYSCOMMAND,                  "shBS_SYSCOMMAND"
    IDS_BS_DEFAULT,                     "shBS_DEFAULT"
    IDS_BS_NOLEFTLINE,                  "shBS_NOLEFTLINE"
    IDS_BS_LEFTROUND,                   "shBS_LEFTROUND"
    IDS_BS_NORIGHTLINE,                 "shBS_NORIGHTLINE"
    IDS_BS_RIGHTROUND,                  "shBS_RIGHTROUND"
    IDS_BS_VERTICAL,                    "shBS_VERTICAL"
    IDS_BS_NOPUSH,                      "shBS_NOPUSH"
    IDS_BS_BITMAP,                      "shBS_BITMAP"
    IDS_BS_TEXT,                        "shBS_TEXT"
END
